@import "./font/one";

*{
  @include font-basics;
  @include font-random-1;
  margin: 0;
  padding: 0;
}

body,html{
  height: 100%;
  width: 100%;
  user-select: none;
}

#sk{
  height: 100%;
  overflow: hidden;
  position: relative;
  .el-scrollbar__wrap{
    display: flex;
    flex-direction: column;
  }
  .el-scrollbar__view{
    flex-grow: 1;
  }

  .el-scrollbar__bar{
    z-index: 100;
  }
}

@import "./home/homeHead","./page/width",'./page/list', 'lr/cIndex';